{deps, [grisp]}.

{erl_opts, [debug_info]}.

{plugins, [rebar3_grisp]}.

{grisp, [
    {otp, [
        {version, "25.2.3"}
    ]},
    {deploy , [
        {pre_script, "rm -rf /media/hadrien/E704-A92A/*"},
        {destination, "/media/hadrien/E704-A92A"},
        {post_script, "umount /media/hadrien/E704-A92A"}
    ]},
    {build,[
        	{toolchain, [
			{docker, "grisp/grisp2-rtems-toolchain"}
		]}
    ]}
]}.

{shell, [{apps, []}]}.

{relx, [
    {release, {test, "0.1.0"}, [test]}
]}.
